.product-image {
    width: 220px;
}

.product-price {
    color: red;
    font-weight: 600;
    font-size: larger;
}

.counter-button {
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    padding: 0;
    font: inherit;
    outline: none;

}