.flex-text {
    display: flex;
    align-items: center;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.left-text {
    margin-left: 20px;
    line-height: 1.3;
}

.empty1 {
    border: 0.5px solid black;
}

.text-weight {
    font-weight: 600;
    font-size: 18px;
}

.photo-basket {
    width: 35px;
}

.background-photo1 {
    background-image: url(../../assets/backimg.1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}


.great-deals {
    padding-top: 30px;
    padding-bottom: 80px;
    padding-left: 15px;
}

.selected {
    line-height: 1.1em;
    font-size: 70px;
    margin-top: 15px;
}

.paragraph {
    line-height: 1.8em;
    font-size: 15px;
    width: 170px;
}

.limited {
    display: flex;
    align-items: center;
    border: 1px solid red;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: red;
    color: white;
    font-size: 23px;
    line-height: 1.1em;
    text-align: center;
    position: absolute;
    bottom: 231px;
    right: 15px;
}

.background-photo2 {
    background-image: url(../../assets/backimg.2.webp);
    background-size: cover;
}

.deal-cleaning {
    padding-block: 100px;
    padding-left: 15px;
}

.percent {
    font-size: 100px;
    display: flex;

}

.clean {
    font-size: 22px;
    font-weight: 700;
}

.deal {
    font-size: 21px;
    font-weight: 600;
}

.background-photo3 {
    background-image: url(../../assets/backimg.3.webp);
    background-size: cover;
    width: 100%;
}

.taste {
    font-size: 28px;
}

.clock-italy {
    font-size: 18px;

}

.background-photo4 {
    background-image: url(../../assets/backimg.4.webp);
    background-size: cover;
    width: 100%;
}

.superdeal {
    top: 500%;
    right: 25px;
}

@media(min-width:1200px) {
    .delivery-local {
        display: flex;
        justify-content: center;
    }

    .flex-text {
        margin-right: 60px;
    }

    .empty2 {
        display: none;
    }

    .background-part {
        display: flex;
        justify-content: center;
    }

    .background-photo1 {
        width: 50%;
    }

    .background-photo2 {
        margin-left: 40px;
        width: 25%;
    }

    .background-photo3 {
        width: 40%;
    }

    .background-photo4 {
        width: 40%;
        margin-left: 40px;
    }

    .selected {
        top: 205%;
        right: 215px;
    }

    .superdeal {
        top: 700px;
        right: 210px;
    }
}