.all-input {
    display: flex;
    flex-direction: row;
    border: 1.5px solid rgba(147, 146, 146, 0.526);
    width: 90px;
    margin-bottom: 30px;
}

.productCount{
    border: none;
    outline: none;
    padding: 5px;
    width: 70px
}
.plus-minus {
    display: flex;
    flex-direction: column;
}
.plus, .minus {
    text-align: center;
}
.quantity {
    margin-bottom: 10px;
}

